include ../../common-components/head/head.jade

doctype html
html
	+head( 'Jumanah Shaheen | Portfolio Site' )
	body
		#skrollr-body
			nav( class="main"
				data-anchor-target="#headerTarget"
				data-0="opacity: 1; top: 0px;"
				data--100-top="opacity: 0; top: -15px;" )
				a(href="/")
					h1
						| Jumanah Shaheen
				ul
					li.nav-item
						a( href='#work' )
							| work
					li.nav-item
						a( href='#awards' )
							| awards
					li.nav-item
						a( href='#experience' )
							| experience
					li.nav-item
						a( href='#contact' )
							| contact
			header( id="headerTarget" )
				.wrap( 
				data-anchor-target="#headerTarget"
				data-0="opacity: 1; top: calc( 50% - (20vh/2));"
				data-center-bottom="opacity: 0;  top: calc( 40% - (20vh/2))"
				)
					h3 Creative Producer
					span Business Management & Operations
				video(width='320', height='240', loop, autoplay="true")
					source(src='videos/videoBg.mp4', type='video/mp4')
					source(src='videos/videoBg.ogg', type='video/ogg')
			.work( id="work" )
				.wrap
					h2 // Work
					ul
						li( style="background:url(images/lwymmd.jpg)no-repeat center center; background-size: cover;" alt="advantages" href="http://vimeo.com/123123" class="mfp-iframe" )
							h3 Taylor Swift
							p Look What You Made Me Do
							a( href="https://www.youtube.com/watch?v=3tmd-ClpJxA" class="video-link mfp-iframe" )
						
						li( style="background:url(images/modernfamily_1.jpg)no-repeat center center; background-size: cover;" alt="advantages" href="http://vimeo.com/123123" class="mfp-iframe" )
							h3 Modern Family
							a( href="http://www.imdb.com/title/tt1442437/?ref_=nv_sr_1" class="imdb-link" target="_blank" ) i
							a( href="https://www.youtube.com/watch?v=8RR9r2XyIhQ" class="video-link mfp-iframe" )

						li( style="background:url(images/colony_1.jpg)no-repeat center center; background-size: cover;" alt="advantages" href="http://vimeo.com/123123" class="mfp-iframe" )
							h3 Colony
							a( href="http://www.imdb.com/title/tt4209256/?ref_=nv_sr_1" class="imdb-link" target="_blank" ) i
							a( href="https://www.youtube.com/watch?v=Lce2iH77j1I" class="video-link mfp-iframe" )
						
						li( style="background:url(images/fotb_1.jpg)no-repeat center center; background-size: cover;" alt="advantages" href="http://vimeo.com/123123" class="mfp-iframe" )
							h3 Fresh Off The Boat
							a( href="http://www.imdb.com/title/tt3551096/?ref_=nv_sr_1" class="imdb-link" target="_blank" ) i
							a( href="https://www.youtube.com/watch?v=olA86eWQGLs" class="video-link mfp-iframe" )

						li( style="background:url(images/great-news_1.jpg)no-repeat center center; background-size: cover;" alt="advantages" href="http://vimeo.com/123123" class="mfp-iframe" )
							h3 Great News
							a( href="http://www.imdb.com/title/tt4955480/?ref_=nv_sr_1" class="imdb-link" target="_blank" ) i
							a( href="https://www.youtube.com/watch?v=OBnlC7oOxk4" class="video-link mfp-iframe" )

						li( style="background:url(images/black-ish_1.jpg)no-repeat center center; background-size: cover;" alt="advantages" href="http://vimeo.com/123123" class="mfp-iframe" )
							h3 Black-ish
							a( href="http://www.imdb.com/title/tt3487356/?ref_=fn_al_tt_1" class="imdb-link" target="_blank" ) i
							a( href="https://www.youtube.com/watch?v=YBXlbfNtL48" class="video-link mfp-iframe" )

						li( style="background:url(images/ghosted_1.jpg)no-repeat center center; background-size: cover;" alt="advantages" href="http://vimeo.com/123123" class="mfp-iframe" )
							h3 Ghosted
							a( href="http://www.imdb.com/title/tt6053538/?ref_=nv_sr_1" class="imdb-link" target="_blank" ) i
							a( href="https://www.youtube.com/watch?v=osj87UHarxw" class="video-link mfp-iframe" )

						li( style="background:url(images/sneaky-pete_1.jpg)no-repeat center center; background-size: cover;" alt="advantages" href="http://vimeo.com/123123" class="mfp-iframe" )
							h3 Sneaky Pete
							a( href="http://www.imdb.com/title/tt5011816/?ref_=nv_sr_1" class="imdb-link" target="_blank" ) i
							a( href="https://www.youtube.com/watch?v=CCGSC0OmMCQ&list=PLux3s4HJQ2BMJoT2Si6iOANrW1gnTjZzO" class="video-link mfp-iframe" )

						li( style="background:url(images/the-mick_1.jpg)no-repeat center center; background-size: cover;" alt="advantages" href="http://vimeo.com/123123" class="mfp-iframe" )
							h3 The Mick
							a( href="http://www.imdb.com/title/tt5638056/?ref_=fn_al_tt_1" class="imdb-link" target="_blank" ) i
							a( href="https://www.youtube.com/watch?v=ZuWMRtTGnck" class="video-link mfp-iframe" )

						li( style="background:url(images/scream_1.jpg)no-repeat center center; background-size: cover;" alt="advantages" href="http://vimeo.com/123123" class="mfp-iframe" )
							h3 Scream
							a( href="http://www.imdb.com/title/tt3921180/?ref_=nv_sr_1" class="imdb-link" target="_blank" ) i
							a( href="https://www.youtube.com/watch?v=uEP2e839y4Q" class="video-link mfp-iframe" )
						
						li( style="background:url(images/advantages_1.jpg)no-repeat center center; background-size: cover;" alt="advantages" href="http://vimeo.com/123123" class="mfp-iframe" )
							h3 Advantages
							a( href="http://www.imdb.com/title/tt3090670/?ref_=fn_al_tt_1" class="imdb-link" target="_blank" ) i
							a( href="https://vimeo.com/83573383" class="video-link mfp-iframe" )

						li( style="background:url(images/fruitvaleStation_3.jpg)no-repeat center center; background-size: cover;" alt="Fruitvale Station" )
							h3 Fruitvale Station
							a( href="http://www.imdb.com/title/tt2334649/" class="imdb-link" target="_blank" ) i
							a( href="https://vimeo.com/68594819" class="video-link mfp-iframe" )

						li( style="background:url(images/savingLincoln_1.jpg)no-repeat center center; background-size: cover;" alt="Saving Lincoln" )
							h3 Saving Lincoln
							a( href="http://www.imdb.com/title/tt2034098/?ref_=fn_al_tt_1" class="imdb-link" target="_blank" ) i
							a( href="https://vimeo.com/57181865" class="video-link mfp-iframe" )

						li( style="background:url(images/theeb_1.jpg)no-repeat center center; background-size: cover;" alt="Theeb" )
							h3 Theeb
							a( href="http://www.imdb.com/title/tt3170902/" class="imdb-link" target="_blank" ) i
							a( href="https://vimeo.com/121668413" class="video-link mfp-iframe" )

						li( style="background:url(images/alienHunter_2.jpg)no-repeat center center; background-size: cover;" alt="Theeb" )
							h3 Alien Hunter
							a( href="http://www.imdb.com/title/tt4727896/?ref_=fn_al_tt_3" class="imdb-link" target="_blank" ) i
							a( href="https://vimeo.com/130048660" class="video-link mfp-iframe" )

						li( style="background:url(images/curpigeon_1.jpg)no-repeat center center; background-size: cover;" alt="Curpigeon" )
							h3 Curpigeon
							a( href="http://www.imdb.com/title/tt4547358/" class="imdb-link" target="_blank" ) i
							a( href="https://vimeo.com/146667753" class="video-link mfp-iframe" )

						li( style="background:url(images/madGod_3.jpg)no-repeat center center; background-size: cover;" alt="madGod" )
							h3 Mad God
							a( href="http://www.imdb.com/title/tt3861428/" class="imdb-link" target="_blank" ) i
							a( href="https://vimeo.com/94468423" class="video-link mfp-iframe" )

						li( style="background:url(images/nba_1.jpg)no-repeat center center; background-size: cover;" alt="NBA" )
							h3 NBA
							//- a( href="http://www.imdb.com/title/tt3861428/" class="imdb-link" target="_blank" ) i
							a( href="https://vimeo.com/164216510" class="video-link mfp-iframe" )

			.awards( id="awards" )
				.wrap
					h2 // Awards
					ul
						li
							h3 Theeb
							.description 
								a( href="http://www.esquireme.com/culture/film-and-tv/theeb-conquers-venice" target="_blank" ) Orizzonti Award
							.description 
								a( href="http://www.bafta.org/film/awards/outstanding-debut" target="_blank" ) BAFTA Award
							.description 
								a( href="http://oscar.go.com/news/nominations/theeb-gets-best-foreign-language-film-oscar-nomination-2016" target="_blank" ) Oscar Nomination - Foreign Language Film
							.description 
								a( href="http://www.academyart.edu/about-us/news-events/news/2016/june/are-you-interested-in-animation-visual-effects-film-production" target="_blank" ) AAU Recognition

						li
							h3 Fruitvale Station
							.description 
								a( href="http://www.filmindependent.org/press/press-releases/winners-announced-for-2014-film-independent-spirit-awards/" target="_blank" ) Independent Spirit Award
							//- .description Gotham Independent Film Award for Breakthrough Actor
							//- .description Gotham Independent Film Award for Breakthrough Director
							//- .description Un Certain Regard Avenir Prize 
							.description 
								a( href="http://www.naacp.org/news/entry/45th-naacp-image-award-winners" target="_blank" ) NAACP Image Award
							.description 
								a( href="http://www.producersguild.org/news/150024/Producers-Guild-To-Honor-Fruitvale-Station-With-2014-Stanley-Kramer-Award.htm" target="_blank" ) Producers Guild of America Award
							//- .description New York Film Critics Circle Award for Best First Film
						li
							h3 Advantageous
							.description 
								a( href="http://www.hitfix.com/in-contention/2015-sundance-film-festival-award-winners" target="_blank" ) Sundance - US Dramatic Jury Award
							.description 
								a( href="http://www.filmindependent.org/press/press-releases/31st-film-independent-spirit-awards-nominations-announced/" target="_blank" ) Film Independent Spirit Awards 2016 Nomination
							.link
						li
							h3 Taylor Swift - LWYMMD
							.description
								a(href="http://www.billboard.com/articles/columns/pop/7942367/taylor-swift-look-what-you-made-me-do-video-vevo-record-24-hours-adele" target="_blank") Youtube 24hrs most plays record
			.experience( id="experience" )
				.wrap
					ul
						li( 
						data-bottom-top="opacity: -.5; transform: scale(.7);" 
						data-bottom="opacity: 1; transform: scale(1);"
						)
							img( src="images/abc-white.svg" alt="gcx" )
						li( 
						data-bottom-top="opacity: -.5; transform: scale(.7);" 
						data-bottom="opacity: 1; transform: scale(1);"
						)
							img( src="images/usa-white.svg" alt="gcx" )
						li( 
						data-bottom-top="opacity: -.5; transform: scale(.7);" 
						data-bottom="opacity: 1; transform: scale(1);"
						)
							img( src="images/nbc-white.svg" alt="gcx" )
						li( 
						data-bottom-top="opacity: -.5; transform: scale(.7);" 
						data-bottom="opacity: 1; transform: scale(1);"
						)
							img( src="images/cisco.svg" alt="Cisco" )
						li( 
						data-bottom-top="opacity: -.5; transform: scale(.7);" 
						data-bottom="opacity: 1; transform: scale(1);"
						)
							img( src="images/nbtv.svg" alt="NBA TV" )
						li( 
						data-bottom-top="opacity: -.5; transform: scale(.7);" 
						data-bottom="opacity: 1; transform: scale(1);"
						)
							img( src="images/hp.svg" alt="HP" )
						li( 
						data-bottom-top="opacity: -.5; transform: scale(.7);" 
						data-bottom="opacity: 1; transform: scale(1);"
						)
							img( src="images/kenwood.svg" alt="Kenwood" )
						li( 
						data-bottom-top="opacity: -.5; transform: scale(.7);" 
						data-bottom="opacity: 1; transform: scale(1);"
						)
							img( src="images/symantec.svg" alt="Symantec" )
						li( 
						data-bottom-top="opacity: -.5; transform: scale(.7);" 
						data-bottom="opacity: 1; transform: scale(1);"
						)
							img( src="images/invision.svg" alt="Invision" )
			.contact( id="contact" )
				.wrap
					ul.info
						li contact
						li.email
							a( href="mailto:jumanah.s.a@gmail.com" target="_blank" ) jumanah.s.a@gmail.com
						li.location
							| Los Angeles, CA.
						li.currently
							a( href="http://www.methodstudios.com/" target="_blank" ) @MethodStudios
					ul.social
						li social
						li.insta
							a( href="https://www.instagram.com/jumanah_shaheen/" target="_blank" ) Instagram
						li.twitter
							a( href="https://twitter.com/JumanahSS" target="_blank" ) Twitter
						li.vimeo
							a( href="https://vimeo.com/user39786831" target="_blank" ) Vimeo
						li.linkedin
							a( href="https://www.linkedin.com/in/jumanah-shaheen-42b5708b" target="_blank" ) Linkedin
